.section-main {
  padding: 1px;
  margin: 0 auto;
  background-color: $color-light;
  height: 100%;
  max-width: 1200px;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 950px;
  padding: 0;

  .flexible-item {
    position: relative;
    overflow: hidden;

    .hidden-text {
      position: absolute;
      font-size: 15px;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
      white-space: nowrap;
    }

    .main-description {
      position: absolute;
      font-size: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
    }

    img {
      width: 475px;
      height: 200px;
      object-fit: cover;
      padding: 5px;
    }
  }
}

.main-link:hover {
  .hidden-text {
    top: 60%;
    transition: all 1s;
  }

  .main-description {
    top: 40%;
    transition: all 1s;
  }
}

.hidden-text:hover {
  top: 50%;
}

.box {
  background: $color-main;
  color: $color-light;
  text-align: center;
  padding: 20px;
}

[class^="opinion-"] {
  position: relative;

  .opinion-description {
    padding: 36px 20px 36px 45%;
    text-align: left;
  }

  .opinion-image {
    position: absolute;
    width: 40%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s;
    }
  }
}

/* Carousel*/
.carousel {
  margin: 120px 0 120px 0;
}

/* Indicators*/
ol.down {
  margin: -70px -280px;
}

.down li {
  background-color: grey;
  bottom: -50px;
}

.down li.active {
  background-color: black;
}

/*Gallery*/

.gallery {
  .gallery-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    max-width: 950px;

    .gallery-item {
      position: relative;
      padding: 7px;
      float: left;
      width: 33%;
      text-align: center;

      img {
        display: block;
        width: 280px;
        height: 260px;
        object-fit: cover;
      }

      a {
        text-decoration: none;
        padding: 7px;
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  width: 95%;
  height: 95%;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  opacity: 0.4;
}

.gallery-item .description {
  position: absolute;
  display: none;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  font-size: 45px;

  .i-main {
    color: $color-main;
  }

  .i-light {
    color: $color-light;
  }
}

.gallery-item:hover:before, .gallery-item:hover .description, .gallery-item:hover a {
  display: flex;
}

.row::before,
.row::after {
  clear: both;
  content: "";
  display: table;
}

.gallery a {
  color: $color-main;
  text-align: center;
  margin: 50px 50px;
  font-weight: bold;
}
